@media ( hover: hover ) and ( pointer: fine ) {
    .header h1 svg:hover {
        opacity: 1;
    }
    .header .gnb_menu:hover {
        opacity: 1;
    }
}
header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
}

/* PC */
.header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header h1 {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1 svg {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    fill: #fff;
    opacity: 0.8;
    transition: 0.4s;
}
.header .gnb {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header .gnb > li {
    width: 200px;
    height: 100%;
}
.header .gnb_menu {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    opacity: 0.8;
    transition: 0.4s;
}

/* 모바일 */
.header_m {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.header_m h1 {
    height: 20px;
}
.header_m h1 svg {
    height: 100%;
    fill: #fff;
    margin: 0;
    margin-bottom: 20px;
}
.header_m #gnb_menu_btn {
    display: none;
}
.header_m #gnb_menu_btn + label {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.header_m #gnb_menu_btn + label span {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}
.header_m #gnb_menu_btn:checked + label { transform: rotate(180deg) translateX(8px); }
.header_m #gnb_menu_btn:checked + label span:nth-of-type(1) { transform: rotate(45deg) translateY(10.5px); }
.header_m #gnb_menu_btn:checked + label span:nth-of-type(2) { opacity: 0; }
.header_m #gnb_menu_btn:checked + label span:nth-of-type(3) { transform: rotate(-45deg) translateY(-10.5px); }
.header_m .gnb_menu_all {
    width: 100%;
    height: calc(100% - 48px);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    transition: 0.2s;
}
.header_m .gnb_menu_all.visible_y {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #fff;
    z-index: 1;
}
.header_m .gnb_menu_all.visible_n {
    visibility: hidden;
    background-color: transparent;
    border-top: 1px solid transparent;
    z-index: -1;
}
.header_m .gnb_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}
.header_m .gnb_menu a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
}
.header_m .gnb_menu span {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 4px;
}