/* 폰트 - Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
html, body, pre, code, kbd, samp {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    word-break: keep-all;
    background-color: #152238;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
ul, li { list-style: none; }
input { border: none; outline: none; background-color: transparent; }
select, option, button { border: none; outline: none; cursor: pointer; background-color: transparent; }

/* 유튜브 넓이,높이 */
:root {
    --video-width: 100vw;
    --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) { :root { --video-height: 56.25vw; } }
@media (max-aspect-ratio: 16/9) { :root { --video-width: 177.78vh; } }