/* 폰트 - Noto Sans KR, 둥근모꼴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Egde 스크롤바 숨김 */
    scrollbar-width: none; /* Firefox 스크롤바 숨김 */
}
html, body, pre, code, kbd, samp {
    font-family: 'DungGeunMo', 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.4px;
    word-break: keep-all;
    color: #333;
}
body::-webkit-scrollbar { /* Chrome, Safari, Opera 스크롤바 숨김 */
    display: none;
}
ul, li {
    list-style: none;
}
select, option, button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #333;
}
input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

/* 유튜브 넓이,높이 */
:root {
    --video-width: 100vw;
    --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) { :root { --video-height: 56.25vw; } }
@media (max-aspect-ratio: 16/9) { :root { --video-width: 177.78vh; } }