/* 인덱스 공통값 */
.main_index {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* 인덱스 왼쪽 */
.index_left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #73BDA8;
}
.index_left img {
    width: 80%;
}

/* 인덱스 오른쪽 */
.index_right {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: #fff;
}
.index_right .nes-container {
    width: 600px;
    margin-bottom: 40px;
}
.index_right .nes-container:last-of-type {
    margin-bottom: 0;
}
.index_right .nes-container.with-title {
    padding: 1rem 2rem;
}
.index_right .nes-container.with-title > .title {
    font-size: 20px;
    color: #000;
}
.index_right .nes-container.with-title > .text {
    font-size: 28px;
    color: #000;
}

/* 인덱스 오른쪽 - 캐릭터 */
.character .text {
    transform: translateY(-4px);
}
.character .text span {
    font-size: 20px;
    color: #666;
}
.character .hashtag {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.character .hashtag .nes-container {
    padding: 4px;
    margin-right: 12px;
}
.character .hashtag .nes-container:nth-of-type(1) { width: 158px; }
.character .hashtag .nes-container:nth-of-type(2) { width: 58px; }
.character .hashtag .nes-container:nth-of-type(3) { width: 58px; }
.character .hashtag .nes-container:nth-of-type(4) { width: 74px; }

/* 인덱스 오른쪽 - 스킬 */
.skill .skill_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.skill .skill_list .badge {
    font-size: 20px;
    padding: 0 14px;
    margin: 14px;
    color: #fff;
}
.skill .skill_list .badge { background-color: #212529; box-shadow: 0 0.5em #212529, 0 -0.5em #212529, 0.5em 0 #212529, -0.5em 0 #212529; }

/* 인덱스 오른쪽 - 작품 */
.works .works_list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.works .works_list button {
    width: 100%;
    font-size: 20px;
    margin-top: 12px;
}